<!DOCTYPE html>
<html>
<head>
<title>{{ flatpage.title }}</title>
</head>
<body>
    <br><br>
    <h5 style="text-align: left;">Михаил Семенович : тел.: +7 (450) - 880 - 458 <br /><a title="email: mnhail@nemail.ru" href="mailto:email: mnhail@nemail.ru" target="_blank" rel="noopener">email: mnhail@nemail.ru</a><br /> ICQ: 458000488</h5>
    <hr />
    <h5 style="text-align: left;">Валерий Петрович : тел.: +7 (450) - 001 - 003<br /> <a title="email: vphail@nemail.ru" href="mailto:email: vphail@nemail.ru" target="_blank" rel="noopener">email: vphail@nemail.ru</a> <br /> ICQ: 458000488</h5>
 

</body>
</html>