<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>Эсперанто ссылки</title>
</head>

<body>

<table border="0" cellpadding="5" cellspacing="5" width="944" height="778"
	   >
  <tbody>
    <tr>
      <td valign="top" height="1644" width="659"><table cellpadding="0" cellspacing="0" border="0" width="100%" height="100%" >
        <tbody>
          <tr>
            <td valign="top" width="100%"><div align="center" bis_skin_checked="1">
              <table cellpadding="0" cellspacing="0" width="624" height="328">
                <tbody>
                  <tr>
                    <td height="328" width="614"><table cellpadding="0" cellspacing="0" border="0" width="614" height="328">
                      <tbody>
                        <tr>
                          <td valign="top" height="328" width="614"><p> </p>
                            <p> </p>
                            
                            <hr color="black" size="1">
                            <p> </p>
                            <p><strong><span lang="en-us">UEA - Universala Esperanto-Asocio</span></strong></p>
                            <p>Официальный сайт Всемирной Эсперанто-Ассоциации. Подробно представлена структура организации и основные направления деятельности. Журнал <span lang="en-us">Esperanto</span>. Конгрессы. Членство. Ежегодник <span lang="en-us">UEA (Jarlibro). </span>Каталог книг. На языке эсперанто. Есть краткая информация на русском языке.</p>
                            <p><span lang="en-us"><a href="http://www.uea.org/">www.uea.org</a></span></p>
                            <p> </p>
                            <p><strong><span lang="en-us">Wikipedio</span></strong></p>
                            <p>Всемирная свободная сетевая энциклопедия<span lang="en-us"> </span>на всех языках мира. Более 150.000 статей на и об эсперанто.</p>
                            <p><span lang="en-us"><a href="http://eo.wukipedia.org/">http://eo.wukipedia.org</a> </span></p>
                            <p> </p>
                            <p><strong><span lang="en-us">Ural-Siberia Esperantista Agado</span></strong></p>
                            <p>Региональная Организация эсперантистов Урала и Сибири. Проведение региональных встреч. На эсперанто и на русском.</p>
                            <p><span lang="en-us"><a href="http://ural-sib.org/">http://ural-sib.org</a></span></p>
                            <p> </p>
                            <p><img border="0" src="http://esperanto-plus.ru/jjmlogo.gif" width="168" height="22"></p>
                            <p>Очень интересный, содержательный сайт бразильского эсперантиста  <em>Joaquim Joгo Mariano</em>. Много полезной информации, красивых фото и хорошего юмора.</p>
                            <p><span lang="EN-US">Vere interesa, enhavriĉa paĝaro de brazila samideano </span><em>Joaquim Joгo Mariano</em><span lang="EN-US"> kun multaj utilaj informoj, belaj fotoj kaj spritaj humuraĵoj.</span></p>
                            <p><span lang="en-us"><a href="http://www.jjmariano.com/">http://www.jjmariano.com/</a>  </span></p>
                            <p> </p>
                            <p><strong>La Esperanto-centro: EVENTOJ</strong></p>
                            <p><span lang="en-us">Eventoj </span>была знаменитая газета, выходивная 2 раза в месяц с 1992 по 2002. Сейчас это настоящий эсперанто-центр, где сконцентрирована базовая информация о современном э-движении и регулярно выходит рассылка <span lang="en-us">RET-INFO -</span> рекомендую подписаться<span lang="en-us">.</span></p>
                            <p>Eventoj estis fama, 2-semajna Esperanto-gazeto, aperinta inter 1992 kaj 2002.<span lang="en-us"> </span><span lang="EN-US">Nun tio estas vera E-centro, kie koncentriĝas bazaj informoj pri moderna Esperantujo kaj regule aperas tutmonda dissendolisto RET-INFO, kiun mi rekomendas aboni.</span></p>
                            <p><span lang="en-us"><a href="http://eventoj.hu/">http://eventoj.hu</a></span></p>
                            <p> </p>
                            <p><strong><span lang="en-us">Esperanto.Org</span></strong></p>
                            <p>Старейший базовый портал на эсперанто в Интернете. Его девиз: <span lang="en-us">"</span>Все для или об, но всегда на Международном языке<span lang="en-us">".</span> Ĉio por aŭ pri, sed ĉiam per, La Internacia Lingvo.</p>
                            <p><span lang="en-us"><a href="http://esperanto.org/">http://esperanto.org</a></span></p>
                            <p> </p>
                            <div id="chefkadro" bis_skin_checked="1">
                              <div id="enkonduko" bis_skin_checked="1">
                                <p><em><span lang="en-us">Esperanto.net</span></em></p>
                                <p><em>Многоязычный информ-центр о международном языке эсперанто.<span lang="en-us"> </span></em>На сайте вы найдете информацию об эсперанто на <strong>62 языках</strong>, в том числе и на русском. <span lang="en-us">Multlingva informcentro en Esperanto.</span></p>
                                <p><span lang="en-us"><a href="http://esperanto.net/">http://esperanto.net</a></span></p>
                                <p> </p>
                                <div id="page" bis_skin_checked="1">
                                  <div id="main" bis_skin_checked="1">
                                    <div id="main-wrapper" bis_skin_checked="1">
                                      <div id="content-wrapper" bis_skin_checked="1">
                                        <div id="content" bis_skin_checked="1">
                                          <div id="content-inner" bis_skin_checked="1">
                                            <div id="content-content" bis_skin_checked="1">
                                              <div id="node-27" bis_skin_checked="1">
                                                <div bis_skin_checked="1">
                                                  <p><strong><span lang="en-us">Esperanto.com</span></strong></p>
                                                  <p>Международная виртуальная социальная сеть, созданная эсперантистами для эсперантистов. Здесь вы можете общаться с друзьями, создавать группы и принимать в них участие, создавать блоги, размещать фото, играть, дискутировать и тд.</p>
                                                  <p>Esperanto.com estas internacia virtuala socia reto, kreita de esperantistoj por esperantistoj.</p>
                                                  <p>En Esperanto.com vi povas komuniki kun amikoj, krei grupojn kaj partopreni en ili, aliĝi al eventoj, verki blogaĵojn, alŝuti fotojn, ludi ludojn, diskuti ks.</p>
                                                  <p><span lang="en-us"><a href="http://esperanto.com/">http://esperanto.com</a></span></p>
                                                  <p> </p>
                                                  <p><span lang="en-us"><strong>Esperanto.info</strong></span></p>
                                                  <p>Информация об эсперанто на многих языках. <span lang="en-us">Multlingvaj informoj pri Esperanto.</span></p>
                                                  <p><span lang="en-us"><a href="http://esperanto.info/">http://esperanto.info</a></span></p>
                                                  <p> </p>
                                                  <p><strong><span lang="en-us">Esperanto.china.org.cn</span></strong></p>
                                                  <p>Большой портал о жизни современного Китая на эсперанто. Лучше один раз увидеть!</p>
                                                  <p><span lang="en-us">Granda ret-revuo pri vivo de moderna Chinio en Esperanto. Vidu mem.</span></p>
                                                  <p><span lang="en-us"><a href="http://esperanto.china.org.cn/">http://esperanto.china.org.cn/</a></span></p>
                                                  <p> </p>
                                                  <p><strong><span lang="en-us">SAT - Sennacieca Asocio Tutmonda</span></strong></p>
                                                  <p>Вненациональная Всемирная Ассоциация. Цель - практическое использование языка эсперанто для классовых целей всемирного рабочего движения. <span lang="en-us">U</span>tiligi praktike la internacian lingvon ESPERANTO por la klasaj celoj de la Laboristaro tutmonda ;</p>
                                                  <p><a href="http://satesperanto.org/">http://satesperanto.org/</a><span lang="en-us"> </span></p>
                                                </div>
                                              </div>
                                            </div>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                            <p align="left"> </p>
                            <p align="left"><strong>Международный язык эсперанто</strong></p>
                            <p align="left">Хороший обзор идеи и структуры языка - можно использовать как готовую презентацию эсперанто. Много полезных ссылок. <span lang="en-us">/</span> Иммиграция под микроскопом - сайт о жизни простой русскоязычной семьи в Канаде.<span lang="en-us">/</span></p>
                            <p align="left"><a href="http://www.zuskin.com/esp.htm">http://www.zuskin.com/esp.htm</a><span lang="en-us"> </span></p>
                            <p align="center"> </p>
                            <div bis_skin_checked="1">
                              <p> <a href="http://esperanto-plus.ru/index.htm">Вернуться на Эсперанто это целый мир!</a></p>
                              <p> </p>
                              <p> </p>
                            </div>
                            <p><span lang="ru">Л</span>учше всего изучить язык эсперанто на курсах  <a href="http://esperanto-plus.ru/lernu!net.thm"><span lang="EN-US">Esperanto</span>-<span lang="EN-US">plus</span>!</a></p>
                            <p> </p></td>
                        </tr>
                      </tbody>
                    </table></td>
                  </tr>
                </tbody>
              </table>
            </div></td>
            <td  height="100%" width="1"><p><img alt="" width="1" height="1" src="http://esperanto-plus.ru/MsSpacer.gif"></p></td>
          </tr>
        </tbody>
      </table></td>
      <td valign="top" height="663" width="250"><table cellpadding="0" cellspacing="0" border="0" width="100%" height="100%" id="table27">
        <tbody>
          <tr>
            <td height="100%" width="100%"><table border="0" width="100%" height="100%" cellpadding="10" cellspacing="0" id="table28">
              <tbody>
                <tr>
                  <td width="100%" height="100%" valign="top"><p align="center"> </p>
                    <p align="center"> </p>
                    <p align="center"><span lang="en-us">Landaj Esperanto-Asocioj</span></p>
                    <p align="center">Эсперанто-Ассоциации разных стран мира</p>
                    <p align="center"> </p>
                    <p align="center"> </p>
                    <p><strong><span lang="en-us">REU</span></strong></p>
                    <p><strong><span lang="en-us">Rusia Esperantista Unio.</span></strong></p>
                    <p>Официальный сайт Российского Союза Эсперантистов.</p>
                    <p><span lang="en-us"><a href="http://www.reu.ru/">www.reu.ru</a></span></p>
                    <p align="center"> </p>
                    <p><strong><span lang="EN-US">UFE</span></strong></p>
                    <p><strong><span lang="EN-US">Unuiĝo Franca por Esperanto</span></strong></p>
                    <p><span lang="en-us"><a href="http://esperanto-france.org/">http://esperanto-france.org</a></span></p>
                    <p> </p>
                    <p><strong><span lang="en-us">ELNA - Esperanto-USA</span></strong></p>
                    <p><strong><span lang="en-us">Esperanto Ligo por Norda Ameriko</span></strong></p>
                    <p><span lang="en-us"><a href="http://esperanto-usa.org/">http://esperanto-usa.org</a></span></p>
                    <p> </p>
                    <p><strong><span lang="en-us">JEI</span></strong></p>
                    <p><strong><span lang="en-us">Japana Esperanto-Instituto</span></strong></p>
                    <div bis_skin_checked="1"><a href="http://www.jei.or.jp/hp/esp.htm">http://www.jei.or.jp/hp/esp.htm</a><span lang="en-us"> </span></div>
                    <p> </p>
                    <p align="left"><strong><span lang="en-us">NEL</span></strong></p>
                    <p align="left"><strong><span lang="en-us">Norvega Esperantista Ligo</span></strong></p>
                    <p align="left"><span lang="en-us"><a href="http://esperanto.no/">http://esperanto.no</a></span></p>
                    <p align="left"> </p>
                    <p align="left"><strong><span lang="en-us">Esperanto-Societo de Gotenburgo</span></strong></p>
                    <p align="left"><span lang="en-us">[Svedio]</span></p>
                    <p align="left"><span lang="en-us"><a href="http://esperanto-gbg.org/eo/">http://esperanto-gbg.org/eo/</a></span></p>
                    <p align="left"> </p>
                    <p align="left"><span lang="en-us"><strong>GEA</strong></span></p>
                    <p align="left"><strong><span lang="en-us">Germana Esperanto-Asocio</span></strong></p>
                    <p align="left"><span lang="en-us"><a href="http://www.esperanto.de/">http://www.esperanto.de</a></span></p></td>
                </tr>
              </tbody>
            </table></td>
          </tr>
        </tbody>
      </table></td>
    </tr>
  </tbody>
</table>
</body>
</html>
